/* center the start button */
header {
  background-color: #7289da;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
body {
  background-color: #424549;
}

button {
  height: 75%;
  width: 20%;
}
/* nav to highscores */
nav {
  overflow: hidden;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}
nav a:hover {
  background-color: #36393e;
}
